* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

h1,p {
    margin: 0;
}

.conteiner{
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
}

.divider{
    max-width: 420px;
    width: 100%;
    height: 1px;
    background-color: var(--color-main-black);
    border: none;
}