.portfolio {
    text-align: center;
    background-color: var(--bg-main-grey);
}

.portfolio-title {
    padding: 80px 0;
    font-size: 34px;
    font-weight: 700;

}

.portfolio-picture {
    width: 100%;
    max-width: 950px;
    min-height: 630px;
    object-fit: cover;

}

.portfolio-description {
    padding: 40px 0 95px 0;
    font-size: 18px;
    font-weight: 500;

}

@media (max-width: 480px) {
    .portfolio-title{
        padding-bottom: 50px;
    }
    .portfolio-description{
        font-size: 14px;
        padding: 30px 0 50px 0;
    }
    .portfolio-picture{
        height: 206px;
    }
    
}